*{
    margin: 0;
    padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
body{
    background-image: url(./images/blur-back.jpg);
    width: 100%;
    height: auto;
    background-size: COVER;
    background-position: center;

}

.container{
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    
}
    .logo  {
        width: 200px;
        height: 200 px;
        border-radius: 50PX 20px 50px 20px;
        
       
    
    }
img{
    width: 100%;
    border-radius: 50%;
    border: 2px solid rgb(71, 240, 94);
   
    
    
}


.title_link{
    font-size: 29px;
    font-weight: 200;
    font-family: "Pacifico", cursive;
   color:#051923;
}
.btnsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
button{
    width: 300px;
    height:40px;
    background:transparent;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 19px;
    font-weight: 500;
    border: 1px solid rgb(173, 173, 173);
   
}
.btnsection button a{
    width: 300px;
    height:40px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 19px;
    font-weight: 500;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
a{
    text-decoration: none;
    color:#051923;
   
}
button:hover, button:active{
/* background:linear-gradient(to right bottom, #2e2c2c8f, #dfe5e9); */
font-size: 22px;
font-weight: 600;
/* transform: scale(0.9); */
transition: all 0.20s linear;
background-color:rgb(66, 170, 255);



}
.link{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    
    
 
}
.link .follow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
.followlink{
   
    display: flex;
    flex-direction: row;
    gap: 25px;

   
    
    
}
.followlink{
    font-size: 30px;
    color:#051923;
}
.followlink i:hover,.followlink i:active{
    opacity: .55;
}

    
    @media (max-width:306px) {
        button{
            width: 100%;
        }
        .logo{
            width: 50%;
            height: 10%;
            border-radius: 10px;
        }
    }
     
